.coupons--list {
  margin: 30px 25px 0;

  .item {
    background-size: cover;

    .top {
      padding-top: 10px;
      height: 147px;
      display: flex;
      align-items: center;

      .content {
        margin-left: 40px;
        display: flex;

        .symbol {
          font-size:28px;
          font-weight:500;
          color:rgba(255,255,255,1);
          margin-right: 3px;
          margin-top: 37px;
        }
  
        .detail {
          font-size:63px;
          font-weight:bold;
          color:rgba(255,255,255,1);
          margin-right: 19px;
        }
      }
      
      .info {
        display: flex;
        flex-direction: column;
        height: 80px;

        .title {
          font-size:26px;
          font-weight:500;
          color:rgba(255,255,255,1);
        }

        .desc {
          @extend .title;
          margin-top: 15px;
        }
      }
    }

    .bottom {
      height: 105px;
      display: flex;
      align-items: center;
      padding: 0 35px 0 40px;
      justify-content: space-between;
      font-size:26px;
      font-weight:500;
      position: relative;

      .date {
        color:rgba(102,102,102,1);
      }

      .use {
        color:rgba(255,65,65,1);
      }

      .over {
        color: #999;
      }

      Image {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 54px;
        height: 54px;
      }
    }
  }
}

.couponse__none {
  display: flex;
  flex-direction: column;
  align-items: center;

  Image {
    width: 328px;
    height: 197px;
    margin-top: 280px;
  }

  Text {
    font-size:26px;
    font-weight:500;
    color:rgba(51,51,51,1);
    margin-top: 110px;
  }
}

