.location {
  width: calc(100% - 60px);
  padding: 0 30px;
  height: 114px;
  line-height: 114px;
  font-size: 30px;
  display: flex;
  background: #ffffff;
  align-items: center;
  font-weight: 500;
}

.locationIcon {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.homeTabs {
  width: 190px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.homeTabsList {
  width: 100%;
  border-top: 2px solid #eeeeee;
  text-align: center;
  height: 124px;
  line-height: 124px;
  font-weight:bold;
  font-size: 26px;
}

.homeTabsListActive {
  width: 100%;
  border-top: 2px solid #eeeeee;
  text-align: center;
  height: 124px;
  line-height: 124px;
  font-weight:bold;
  font-size: 26px;
  color: #FE5957;
  position: relative;
}

.homeTabsListActive::before {
  content: ' ';
  width: 4px;
  height: 30px;
  background: #FE5957;
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
}