.customer--wrapper {
  margin: 160px 30px auto 30px;
  background-size: contain;
  position: relative;
  
}

.customer--head {
  width: 146px;
  height: 142px;
  position: absolute;
  border-radius: 50%;
  top: -71px;
  left: 0;
  right: 0;
  margin: auto;
}